In [1]:
import os

try:
    snakemake
except NameError:
    from snakemk_util import load_rule_args
    
    os.chdir('../..')
    
    snakemake = load_rule_args(
        snakefile = os.getcwd() + "/workflow/Snakefile",
        rule_name = 'bam_read_count_stats',
        root = '..'
    )

In [10]:
from pathlib import Path
import pandas as pd


counts = dict()

for i in snakemake.input['counts']:
    counts[Path(i).stem] = int(open(i).read())

df_counts = pd.Series(counts)

In [3]:
df

ENCFF292UIE    3201257
ENCFF738RAA    2753910
ENCFF319JFG     873315
ENCFF901XCR    1146669
ENCFF319FBW     801570
                ...
ENCFF623IBV    1014576
ENCFF243PFI     612514
ENCFF171AQO    1288131
ENCFF903XBV    2613456
ENCFF349CHO    2492711
Length: 138, dtype: int64

In [12]:
df_mapping = pd.read_csv(snakemake.input['mapping'], sep='\t', header=None).set_index(0)

df_read_annot_counts = pd.read_csv(snakemake.input['read_annot_counts'], sep='\t')

In [13]:
df_mapping

                                     1
0
ENCFF118JEI                   mcf7_1_1
ENCFF322UJU                   k562_1_1
ENCFF660UTF  heart_right_ventricle_2_1
ENCFF219UJG                gm12878_3_1
ENCFF018PZX  heart_right_ventricle_3_1
...                                ...
ENCFF927MKK              pgp1_endo_1_2
ENCFF344KQF    left_cardiac_atrium_1_1
ENCFF319JFG        h9_neural_crest_1_1
ENCFF901XCR        h9_neural_crest_1_2
ENCFF809QBD              left_lung_2_1

[138 rows x 1 columns]

In [14]:
df_read_annot_counts

                                     dataset   counts
0                                   a673_1_1  1330194
1                                   a673_1_2  1707207
2                          adrenal_gland_1_1   765655
3                          adrenal_gland_2_1  1579294
4                          adrenal_gland_3_1   577077
..                                       ...      ...
133  right_ventricle_myocardium_superior_1_1  1560166
134             upper_lobe_of_right_lung_1_1  1445367
135                                wtc11_1_1  2332639
136                                wtc11_1_2  1358180
137                                wtc11_1_3  2851975

[138 rows x 2 columns]

In [21]:
df = df_mapping.join(df_counts.to_frame())
df = df.set_index(1).join(df_read_annot_counts.set_index('dataset'))

In [25]:
df['dif'] = df[0] - df['counts']

In [29]:
df.sort_values('dif', ascending=False).head(50)

                                               0   counts     dif
1
cardiac_septum_1_1                       1769114  1463725  305389
lower_lobe_of_right_lung_1_1             1803044  1528088  274956
psoas_muscle_1_1                         1756513  1508710  247803
right_cardiac_atrium_4_1                 1737745  1492063  245682
wtc11_1_2                                1603742  1358180  245562
mucosa_of_descending_colon_2_1           1288131  1105691  182440
upper_lobe_of_right_lung_1_1             1620966  1445367  175599
wtc11_1_1                                2505856  2332639  173217
aorta_2_1                                1107999   945858  162141
h1_de_1_3                                1484619  1329159  155460
h1_de_1_2                                1515588  1366812  148776
h1_1_3                                   1282124  1148162  133962
left_colon_1_1                           1262507  1130537  131970
k562_3_2                                 2729961  2623089  106872
h1_de_1_1                                1172408  1070530  101878
wtc11_1_3                                2946604  2851975   94629
k562_2_1                                 1262347  1169035   93312
k562_3_1                                 2617489  2526610   90879
posterior_vena_cava_2_1                   589128   511706   77422
gm12878_1_3                               604809   537713   67096
brodmann_area_46_9_1                     2837472  2772400   65072
brodmann_area_46_4_1                     2722588  2658856   63732
brodmann_area_46_5_1                     2600026  2538322   61704
hepg2_1_1                                2516897  2456623   60274
pc3_1_1                                  1965521  1905298   60223
brodmann_area_46_8_1                     2300737  2243462   57275
hmec_1_2                                 2492711  2441884   50827
brodmann_area_46_7_1                     2116729  2066432   50297
mcf7_1_1                                 1688771  1639352   49419
k562_1_1                                 1958209  1909706   48503
left_ventricle_myocardium_superior_1_1   1417255  1373613   43642
panc1_1_1                                1625176  1583465   41711
heart_left_ventricle_3_1                 1254292  1213979   40313
adrenal_gland_1_1                         805420   765655   39765
hepg2_2_1                                1129974  1090307   39667
k562_2_2                                  588901   549651   39250
gm12878_3_1                              1526058  1487483   38575
pgp1_excite_neuron_1_2                    669329   631095   38234
heart_right_ventricle_2_1                1307404  1269372   38032
brodmann_area_46_6_1                     2928467  2890438   38029
gm12878_1_4                               694316   656794   37522
pgp1_excite_neuron_1_1                    726150   689480   36670
h1_1_1                                    644058   608009   36049
pgp1_1_2                                  825870   790050   35820
hct116_1_1                               1422477  1386892   35585
gm12878_1_2                               641212   605674   35538
adrenal_gland_3_1                         612514   577077   35437
right_ventricle_myocardium_superior_1_1  1594631  1560166   34465
pgp1_1_1                                  764543   730349   34194
brodmann_area_46_2_1                     1760047  1726437   33610

In [ ]:


import pdb
pdb.set_trace()


df.to_csv(snakemake.output['table'], sep='\t')