In [1]:
import pandas as pd

In [9]:
# old
old = 'all.cCREs.bed'
old = pd.read_csv(old, sep='\t', header=None)
old.rename({3: 'id1', 4: 'id2'}, axis=1, inplace=True)

In [10]:
old.head()

      0      1      2           id1           id2        5
0  chr1  10033  10250  EH38D4327497  EH38E2776516     pELS
1  chr1  10385  10713  EH38D4327498  EH38E2776517     pELS
2  chr1  16097  16381  EH38D6144701  EH38E3951272  CA-CTCF
3  chr1  17343  17642  EH38D6144702  EH38E3951273    CA-TF
4  chr1  29320  29517  EH38D6144703  EH38E3951274       CA

In [12]:
new = 'GRCh38-cCREs.UCSC.bed'
new = pd.read_csv(new, sep='\t', header=None)
new.rename({3: 'id1', 4: 'id2'}, axis=1, inplace=True)

In [16]:
new.head()

      0      1      2           id1  id2  5      6      7           8        9
0  chr1  10033  10250  EH38E2776516    0  .  10033  10250   255,167,0     pELS
1  chr1  10385  10713  EH38E2776517    0  .  10385  10713   255,167,0     pELS
2  chr1  16097  16381  EH38E3951272    0  .  16097  16381   0,176,240  CA-CTCF
3  chr1  17343  17642  EH38E3951273    0  .  17343  17642  190,40,229    CA-TF
4  chr1  29320  29517  EH38E3951274    0  .  29320  29517   6,218,147       CA

In [15]:
print(len(old))
print(len(new))

2348854
2348854

In [17]:
old = old.merge(new, how='inner', left_on='id2', right_on='id1')

In [18]:
len(old.index)

2348854

In [ ]:
# bed files are the same