In [1]:
import pandas as pd

In [2]:
ab = 'human_talon_abundance.tsv'

In [15]:
df = pd.read_csv(ab, sep='\t')

In [ ]:
# drop columns that do not pertain to gene info
drop_cols = ['transcript_ID', 'annot_transcript_id', 'annot_transcript_name',
             'n_exons', 'length', 'transcript_novelty', 'ISM_subtype']
df.drop(drop_cols, axis=1, inplace=True)

gb_cols = ['gene_ID', 'annot_gene_id', 'annot_gene_name', 'gene_novelty']
df = df.groupby(gb_cols).sum().reset_index()

In [13]:
df.head()

,gene_ID,annot_gene_id,annot_gene_name,gene_novelty,gm12878_1_1,gm12878_1_2,gm12878_1_3,gm12878_1_4,gm12878_3_1,gm12878_2_1,...,calu3_1_2,brodmann_area_46_1_1,brodmann_area_46_7_1,brodmann_area_46_5_1,brodmann_area_46_6_1,brodmann_area_46_8_1,brodmann_area_46_4_1,brodmann_area_46_2_1,brodmann_area_46_9_1,brodmann_area_46_3_1
0,2,ENSG00000227232.5,WASH7P,Known,0,1,0,2,7,0,...,27,9,42,84,51,73,70,56,65,10
1,3,ENSG00000278267.1,MIR6859-1,Known,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,ENSG00000243485.5,MIR1302-2HG,Known,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,6,ENSG00000237613.2,FAM138A,Known,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,ENSG00000240361.2,OR4G11P,Known,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0